body {
	  text-align: center;
}
#wrapper {
	  text-align: left;
	  width: 1000px;
	  margin-left: auto;
	  margin-right: auto;
}

#options{
	width: 65px;
	height:550px;
	border:1px solid black;
	float:left;
}
#title {
	text-align: center;
}
#frame{
	width:920px;
	height:550px;
	//background-image: url("../images/UK-Map.gif");
	background-repeat: repeat-y;
    	background-position: 0 0;
    	border:1px solid black;
    	float:right;
}

#tbldevs{
	border:1px solid black;
	width:80%;
	margin-left:50px;
	margin-top:10px;
}

#tbldevs th{
	text-align:center;
	height:50px;
	width:50px;
}

#tbldevs td{
	height:50px;
}


#drag1 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/cf_32x32.png");
	width:32px;
	height:32px;
}

#drag2 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/dw_32x32.png");
	width:32px;
	height:32px;
}

#drag3 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/fla_32x32.png");
	width:32px;
	height:32px;
}

#drag4 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/flex_32x32.png");
	width:32px;
	height:32px;
}

#drag5 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/pdf_32x32.png");
	width:32px;
	height:32px;
}

#drag6 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/ps_32x32.png");
	width:32px;
	height:32px;
}
#drag7 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b1_32x32.png");
	width:32px;
	height:32px;
}
#drag8 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b2_32x32.png");
	width:32px;
	height:32px;
}
#drag9 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b3_32x32.png");
	width:32px;
	height:32px;
}

.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}



/* classes for dragged stuff */
.dragged1 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/cf_32x32.png");
	width:32px;
	height:32px;
}

.dragged2 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/dw_32x32.png");
	width:32px;
	height:32px;
}

.dragged3 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/fla_32x32.png");
	width:32px;
	height:32px;
}

.dragged4 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/flex_32x32.png");
	width:32px;
	height:32px;
}

.dragged5 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/pdf_32x32.png");
	width:32px;
	height:32px;
}

.dragged6 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/ps_32x32.png");
	width:32px;
	height:32px;
}
.dragged7 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b1_32x32.png");
	width:32px;
	height:32px;
}

.dragged8 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b2_32x32.png");
	width:32px;
	height:32px;
}

.dragged9 {
	position:absolute; 
	background-image: url("https://raw.githubusercontent.com/plylab/plylab1_5/master/web/images/b3_32x32.png");
	width:32px;
	height:32px;
}

#element{
	border:1px solid red
}
